body {
	background-image: url("../images/concrete_seamless.png");
	padding-bottom: 75px !important;
}


.headerContainer {
	background-color: #fff !important;
}

.myPhoto {
	margin-right: 10px;
}

.portfolioText {
	
	height: 35px;
	width: 100%;
	background-color: #4aaaa5;
	position: relative;
    top: -64px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 23px;
    font-weight: bold; 
    color: #fff;
}

.footer {
	border-top: solid !important;
	border-top-width: 20px !important;
	border-top-color: #4aaaa5 !important;
	background-color: #666666 !important;
	background-image: none !important;
	color: black !important;
}

#copyrightText {
	color: black !important;
}

.name {
	background-color: #4aaaa5 !important;
	color: #fff !important;
	font-size: 24px !important;
	font-weight: bold !important;
}

.panel-heading {
	background-image: none !important;
	background-color: #4aaaa5 !important;
	font-size: 20px !important;
	color: #fff !important;
	font-weight: bold !important;
}

.btn {
	background-color: #4aaaa5 !important;
	color: #fff !important;
	
}


@media screen and  (max-width: 990px) {

	.portfolioText {
		width: 350px;
	}


}

@media screen and  (max-width: 430px) {
	.portfolioText {
		width: 100%;
	}

}

